.my-projects-main-container {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 7rem;
}

.expreience-container {
  padding-inline: 1rem;
}

.experience-card {
  max-width: 900px;
  width: 100%;
  display: block;
  margin: 2rem auto;
  background-color: transparent !important;
  color: #fff;
  box-shadow: 0px 0px 2px #fff;
  padding: 1rem;
  letter-spacing: 0.4px;
  margin-bottom: 3rem;
  background-image: linear-gradient(
    315deg,
    #2d231c4f 0%,
    #081a2b31 74%
  ) !important;
}

.experience-card .card-title {
  padding-left: 0.9rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -0.8rem;
}
.experience-card .card-title .profession {
  color: #1abdbd;
  font-size: 0.8rem !important;
}

.experience-card .date {
  color: #1abdbd;
  padding-left: 0.9rem;
}

.experience-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px #c8c5c5;
  padding: 0.4rem;
  filter: brightness(90%);
  display: block;
  margin: 0 auto;
}

.experience-card ul li {
  line-height: 1.7rem;
}

.experience-card a {
  letter-spacing: 0.4px;
  text-decoration: none;
  margin-left: 0.9rem;
}

@media (max-width: 672px) {
  .experience-card .card-title {
    flex-direction: column;
    line-height: 0.9rem;
    margin-bottom: 0.5rem;
  }
  .experience-card {
    padding-inline: 0rem !important;
  }
}

@media (max-width: 430px) {
  .expreience-container {
    padding-inline: 0.4rem;
  }
}
@media (max-width: 396px) {
  .expreience-container .bds-title {
    line-height: 1.5rem !important;
    text-align: center;
  }
}

.full-stack-title {
  font-weight: 400 !important;
  font-size: 1.9rem !important;
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 3rem;
  padding-inline: 1.5rem;
  letter-spacing: 0.8px;

  background: linear-gradient(to right, #b2deff, #fcf4f4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
