footer {
    width: 100%;
    background-color: transparent;
    letter-spacing: 0.2px;
    box-shadow: -1px -4px 5px 1px lightskyblue;
    -webkit-box-shadow: -1px -4px 5px 1px lightskyblue;
    -moz-box-shadow: -1px -4px 5px 1px lightskyblue;
    margin-top: 200px;
}
  
  footer a:hover {
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  
  footer *:hover {
    color: #ffbd43 !important;
    -webkit-transform: scale(0.999);
            transform: scale(0.999);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
  }

  footer * {
    font-size: 1.2rem !important;
    color: whitesmoke;
  }